@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
 
.a-a {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.productBlock {
    border-radius: 20px;
}
#infinity-notes {
    background: url(../res/img/infinity-notes.png);
    background-size: cover;
}
#infinity-notes-h1 {
    padding-top: 40%;
}
.colorWhite{
    color: white;
}