#overview {
    float: left;
    background-blend-mode: multiply;
    padding: 100px 0;
    width: 100%;
    text-align: center;
}

#overview .img {
    float: left;
    width: 30%;
    margin-top: 50px;
    margin-left: 22%;
}

#overview .img:nth-child(odd) {
    margin-left: -5%;
}

#overview span {
    float: left;
    width: 100%;
    font-size: 1.2em;
    margin-top: 10px;
}

@media (max-width: 700px){
	#overview .img {
		width: 100%!important;
		margin-right: 0%!important;
		margin-left: 0%!important;
	}
}